// Variables light mode:
$purple: #cdb4db;
$pink-soft: #fdd0e1;
$pink: #ffafcc;
$blue-soft: #bde0fe;
$blue: #9ddff0;
$text-light: rgb(105, 103, 103);
$header-light-color: rgba(255, 200, 221, 1);

// Variables dark mode:
$color-fondo-oscuro: #222;
$text-dark: #e2e4e5;

// Fuentes:
$font: "Roboto", sans-serif;
$font2: "Source Code Pro", monospace;

// Reset:
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
}
