@import "App.scss";

.contact {
  color: rgb(90, 90, 90);
  font-family: $font2;
  overflow: hidden;
  margin: 0;

  .title-contact {
    font-weight: 700;
    font-size: 3rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin: 3rem 0rem 4rem 4rem;
    }

    @media screen and (min-width: 1024px) {
      margin-top: 10rem;
      margin-left: 10rem;
      margin-bottom: 4rem;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: $blue2;
      transition: right 0.8s;
    }
    &:hover:after {
      right: 0;
    }
  }
  .container {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-bottom: -18rem;
    }
    @media screen and (min-width: 1024px) {
      position: relative;
      right: 0rem;
      margin-bottom: -20rem;
    }

    .container-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      height: 18rem;
      margin: auto;
      border-radius: 40%;
      background: rgba(125, 189, 202, 0.863);
      background-color: radial-gradient(
        circle,
        rgb(85, 153, 167) 9%,
        rgb(24, 72, 82) 40%,
        rgba(141, 220, 236, 1) 76%,
        rgba(166, 234, 247, 1) 118%
      );

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 30rem;
        height: 29rem;
      }

      @media screen and (min-width: 1024px) {
        width: 35rem;
        height: 38.5rem;
        left: 10rem;
      }

      .text-contact {
        font-weight: 500;
        font-size: 16px;
        width: 15rem;
        line-height: 1.5rem;
        font-weight: 800;
        text-transform: uppercase;
        color: rgb(61, 61, 61);

        @media screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 20px;
          line-height: 1.9rem;
          width: 21rem;
          line-height: 250%;
        }

        @media screen and (min-width: 1024px) {
          font-size: 23px;
          line-height: 250%;

          top: 8rem;
          width: 22rem;
          text-align: center;
        }
      }
    }

    .container-links {
      background-image: url("../images/background-contact-2.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      margin: auto;
      top: -10rem;
      left: 1rem;
      width: 17rem;
      height: 20rem;

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 25.5rem;
        height: 30rem;
        top: -27rem;
        left: 14rem;
      }

      @media screen and (min-width: 1024px) {
        width: 25.5rem;
        height: 30rem;
        left: 20rem;
        top: -30rem;
      }

      .list-links {
        position: relative;
        margin: auto;
        bottom: -11rem;
        left: 2.8rem;
        display: inline-block;
        background-color: transparent;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
          bottom: -8rem;
          left: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        @media screen and (min-width: 1024px) {
          bottom: -7rem;
          left: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .links-contact {
          cursor: pointer;

          .icon {
            width: 3.5rem;

            @media screen and (min-width: 768px) and (max-width: 1024px) {
              width: 4.5rem;
            }

            @media screen and (min-width: 1024px) {
              width: 5.5rem;
            }
          }

          .icon-linkedin,
          .icon-github {
            &:hover {
              transform: scale(1.2);
            }
          }
          .icon-twitter {
            width: 2.6rem;
            margin: 0.5rem;

            &:hover {
              transform: scale(1.2);
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
              width: 3.3rem;
            }

            @media screen and (min-width: 1024px) {
              width: 4rem;
              margin-bottom: 0.8rem;
            }
          }
        }
      }
    }
  }
}
