@import "App.scss";

.footer {
  width: 100%;
  background-color: #5ab5c59f;
  font-family: $font2;
  color: rgb(49, 49, 49);

  .copyright {
    font-size: 14px;
    margin-left: 1rem;
    text-align: center;
    transform: translateY(2.3rem);

    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }

  .link-btn {
    .btn-up {
      width: 4rem;
      position: relative;
      top: -3.2rem;
      left: 45%;
    }
  }
}

.dark {
  background-color: rgb(92, 92, 92);
  color: white;
}
