@import "App.scss";

.header {
  background-color: $header-light-color;
  color: $text-light;
  font-family: $font2;
  height: 3.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;

  .header-box-title {
    display: flex;
    flex-direction: row;

    .switch-button {
      display: inline-block;
      margin-left: 3rem;
      margin-top: 1rem;
      position: absolute;
      right: 85%;

      .switch-button__checkbox {
        display: none;
      }

      .switch-button__label {
        background-color: rgb(77, 71, 71);
        display: inline-block;
        position: relative;
        width: 2.6rem;
        height: 1.5rem;
        border-radius: 1rem;
        cursor: pointer;

        &:before {
          transition: 0.2s;
          display: block;
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          background-color: white;
          content: "";
          border-radius: 50%;
          box-shadow: inset 0px 0px 0px 1px rgb(107, 98, 98);
        }
      }

      .switch-button__checkbox:checked + .switch-button__label {
        background-color: $pink-soft;

        &:before {
          transform: translateX(1.1rem);
        }
      }
    }
  }
  .header-menu-img {
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 0.9rem 0.8rem 0.5rem 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
  }

  .menu-activo {
    background-color: #cdb4db98;
    margin-top: 3.5rem;
    text-align: center;
    border-radius: 10px;

    .menu-link {
      cursor: pointer;
      display: block;
      margin-bottom: 2px;

      &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: rgb(148, 147, 147);
        transform: scale(0, 1);
        transform-origin: center;
        transition: transform 0.25s;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }

  .menu {
    display: none;
  }
}
