@import "App.scss";

.header {
  background-color: $pink-soft;
  color: $text-light;
  height: 3.5rem;
  width: 100%;
  position: fixed;
  margin-bottom: 2rem;
  .header-box-title {
    display: flex;
    flex-direction: row;

    .header-name {
      font-family: $font;
      font-weight: 700;
      font-size: 1rem;
      margin: 1rem 0 0.5rem 1rem;
    }

    .switch-button {
      display: inline-block;
      margin-left: 3rem;
      margin-top: 1rem;
      position: absolute;
      right: 16%;

      .switch-button__checkbox {
        display: none;
      }

      .switch-button__label {
        background-color: rgb(77, 71, 71);
        display: inline-block;
        position: relative;
        width: 2.3rem;
        height: 1.2rem;
        border-radius: 1rem;
        cursor: pointer;

        &:before {
          transition: 0.2s;
          display: block;
          position: absolute;
          width: 1.3rem;
          height: 1.2rem;
          background-color: white;
          content: "";
          border-radius: 50%;
          box-shadow: inset 0px 0px 0px 1px rgb(107, 98, 98);
        }
      }

      .switch-button__checkbox:checked + .switch-button__label {
        background-color: $pink-soft;

        &:before {
          transform: translateX(1.1rem);
        }
      }
    }
  }
  .header-menu-img {
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 0.9rem 0.8rem 0.5rem 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}
