@import "App.scss";

.header {
  background-color: $pink-soft;
  height: 6vh;

  .link-name .nombre-logo {
    max-width: 15rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  .switch-button {
    display: inline-block;
    margin-left: 1rem;

    .switch-button__checkbox {
      display: none;
    }

    .switch-button__label {
      background-color: $black;
      display: inline-block;
      position: relative;
      width: 3rem;
      height: 1.4rem;
      border-radius: 1rem;
      cursor: pointer;

      &:before {
        transition: 0.2s;
        display: block;
        position: absolute;
        width: 1.5rem;
        height: 1.4rem;
        background-color: white;
        content: "";
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 1px $black;
      }
    }

    .switch-button__checkbox:checked + .switch-button__label {
      background-color: $blue;

      &:before {
        transform: translateX(1.5rem);
      }
    }
  }

  .menu-header {
    position: absolute;
    right: 0%;
    margin: 0.7rem 0.5rem 0.5rem 0.5rem;
  }
}
