@import "App.scss";

.introduction {
  background-image: url("../images/fondo25_.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: rgb(90, 89, 89);
  font-family: $font2;
  padding-top: 7rem;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    height: 70vh;
    margin-bottom: 0rem;
    margin-bottom: 12rem;
  }

  @media screen and (min-width: 1024px) {
    background-image: none;
    margin-top: 0;
    padding-top: 1rem;
  }

  .title1 {
    font-weight: 700;
    font-size: 3rem;
    margin-left: 1rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin: 3rem 0rem 0.5rem 4rem;
    }

    @media screen and (min-width: 1024px) {
      margin-top: 10rem;
      margin-left: 10rem;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: $blue2;
      transition: right 0.8s;
    }
    &:hover:after {
      right: 0;
    }
  }

  .text {
    font-size: 1rem;
    font-family: $font2;
    font-weight: 400;
    line-height: 1.4;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 1.5rem 3rem 1.5rem;

    &__box1 {
      margin-bottom: 1.5rem;

      @media screen and (min-width: 1024px) {
        margin-bottom: 3rem;
      }
    }

    &__box2 {
      margin-bottom: 1.5rem;

      @media screen and (min-width: 1024px) {
        margin-bottom: 3rem;
      }
    }

    &__box3 {
      margin-bottom: 1.5rem;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.2rem;
      margin: 3rem 10rem 0rem 10rem;
    }

    @media screen and (min-width: 1024px) {
      font-size: 1.2rem;
      margin: 3rem 10rem 0rem 15rem;
      width: 60%;
      text-align: justify;
    }
  }
}

.dark {
  background-image: none;
  background-color: rgb(54, 54, 54);
  color: white;
}
