@import "App.scss";

.section-one {
  //background-image: url("../images/fondo25.jpg");
  background-color: $backgroundColor1;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

  .ring {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
  }

  .tech {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
