@import "App.scss";

.technologies {
  color: rgb(73, 73, 73);
  margin-top: 5rem;
  margin-bottom: 5rem;
  overflow: hidden;

  @keyframes scroll {
    0% {
      transform: translateX(1rem);
    }
    50% {
      transform: translateX(50rem);
    }
    100% {
      transform: translateX(100rem);
    }
  }

  .title-tech {
    font-family: $font2;
    font-weight: 800;
    font-size: 2.5rem;
    margin-left: 5rem;
    text-align: end;
    margin-bottom: 3rem;
  }

  .icons-list {
    display: flex;
    flex-direction: row;
    list-style: none;

    .li-icon {
      animation: scroll 20s linear infinite;
      display: flex;

      .icon {
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
      }
    }
  }
}

.dark {
  background-image: none;
  background-color: rgb(54, 54, 54);
  color: white;
}
