.header-img {
    width: 100vw;
}

.title-header {
    font-family: $font-family;
    font-weight: 600;
    color:rgb(136, 133, 133);
    font-size:large;
    background-color:rgba(200, 209, 209, 0.514);
    display: inline;
    position: relative;
    top: -30px;
    left: 40%;
}